.section-header {
  &-nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    border-bottom: 2px solid #e5e5e5;
    &-left {
      display: flex;
      &__logo {
        display: flex;
        position: relative;
        margin-top: 5px;
        img {
          width: 55px;
          height: 55px;
          margin-top: 0px;
          margin-right: 10px;
        }
        &-title {
          font-weight: normal;
          font-size: 30px;
          line-height: normal;
        }
        &-subtitle {
          font-weight: 200;
          font-size: 18px;
          line-height: normal;
          color: #777777;
        }
      }
    }
    &-right {
      display: flex;
      justify-self: flex-end;
      vertical-align: middle;
      align-items: center;

      li:first-child {
        margin-right: 41px;
      }

      li:last-child {
        margin-left: 32px;
      }
    }
  }
  &-desktop,
  &-nav-desktop {
    display: none;
  }
}
@media screen and (max-width: 670px) {
  .section-header {
    &-nav {
      zoom: 0.5;
    }
  }
}
@media (min-width: $screen-md) {
  .section-header-nav {
    display: none;
    &-desktop {
      display: block;
    }
  }
  .section-header-desktop {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 16px;
    color: #fff;
    background-color: #34a853;
    vertical-align: middle;
    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      flex-wrap: wrap;
      li {
        white-space: nowrap;
        &:nth-child(3),
        &:nth-child(7) {
          border-right: 1px solid #67be7e;
          vertical-align: middle;
        }
        &:hover {
          background-color: #5db975;
        }
        a {
          position: relative;
          padding: 10px 0;
          color: #fff;
          display: flex;
          align-items: center;
          padding: 10px 20px;
          img {
            margin-right: 3px;
          }
        }
      }
    }
    &-container {
      position: relative;
    }
    &__phone {
      &-block {
        display: none;
        position: absolute;
        bottom: -50%px;
        right: 0;
        background: white;
        width: 50%;
        height: 365px;
        z-index: 30;
        color: black;
        box-shadow: 0 10px 10px #dfdddd;
        &-active {
          display: flex;
          justify-content: space-evenly;
        }
        &-left {
          flex-basis: 35%;
          align-self: center;
          a {
            font-size: 24px;
            color: $green-color;
          }
          ul {
            display: block;
            li {
              font-size: 18px;
              font-weight: 200;
              // align-items: flex-start;
              border: none;
              margin-bottom: 17px;
              img {
                margin-right: 12px;
                vertical-align: center;
              }
              &:nth-child(3) {
                border: none;
              }
              &:hover {
                background-color: inherit;
              }
            }
          }
          &__work {
            font-size: 16px;
            font-weight: 200;
            color: $grey-color;
            margin-bottom: 20px;
          }
          &__callmethod {
            &-title {
              margin-bottom: 20px;
              font-size: 16px;
              font-weight: 200;
            }
          }
        }
        &-right {
          flex-basis: 35%;
          position: relative;
          margin-top: 35px;
          &__title {
            font-size: 24px;
            font-weight: 400;
          }
          &__work {
            font-size: 16px;
            font-weight: 200;
            color: $grey-color;
            margin-bottom: 20px;
          }
          form {
            label {
              font-size: 16px;
              font-weight: 200;
              margin-bottom: 0;
              line-height: 0;
            }
            input {
              display: block;
              width: 100%;
              border-bottom: 1px solid #c4c4c4;
              margin-bottom: 10px;
              padding: 5px 10px;
              &:focus {
                border-bottom: 1px solid $orange-color;
              }
            }
            button {
              font-size: 18px;
              padding: 15px 25px;
              border-radius: 30px;
              margin-top: 23px;
              color: #fff;
              background-color: #fda11c;
              &:hover {
                opacity: 0.8;
                transition: 0.2s;
              }
            }
          }
        }
      }
    }
  }

  #phone-block-close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    font-weight: 200;
    cursor: pointer;
    width: 30px;
    height: 30px;
    color: $grey-color;
    transform: rotate(45deg);
  }
  .mail-block {
    position: relative;
  }
  .mail,
  .section-header-desktop__phone {
    position: relative;
    padding: 10px 0;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    img {
      margin-right: 3px;
    }
  }
  .mail-copy {
    display: none;
    z-index: 10;
    position: absolute;
    font-size: 16px;
    bottom: -42px;
    background: black;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    left: 15px;
    &-active {
      display: block;
    }
  }

  #menuToggle {
    display: none;
  }
  .section-header-nav-desktop {
    background-color: #e7e6e6;
  }
  .section-header-nav-desktop__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1540px;
    margin: 0 auto;
    @media screen and (max-width: $screen-md-max) {
      margin: 0 30px;
    }
    @media screen and (min-width: $screen-lg) {
      width: $screen-lg;
      margin: 0;
    }
    &-logo {
      font-size: 33px;
      a {
        display: flex;
        align-items: center;
        margin: 10px 0;
        img {
          width: 45px;
          height: 45px;
          margin-right: 8px;
        }
        &:hover {
          opacity: 0.5;
        }
      }
      &__title {
        @media screen and (max-width: $screen-md-max) {
          font-size: 25px;
        }
      }
    }
    &-search {
      display: flex;
      width: 50%;
      border-radius: 3px;
      overflow: hidden;
      @media screen and (max-width: $screen-md-max) {
        width: 30%;
      }
      &-img {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 50px;
        height: 38px;
        background: #faad3d;
        &:hover {
          opacity: 0.5;
        }
      }
      input {
        padding: 0 10px;
        width: 100%;
      }
    }
    &-partners {
      font-size: 14px;
      font-weight: 200;
      a {
        display: flex;
        align-items: center;
        img {
          margin-right: 5px;
        }
        &:hover {
          opacity: 0.5;
        }
      }

      &-title {
        width: 100px;
        margin-top: 5px;
        color: $grey-color;
        line-height: 15px;
        white-space: nowrap;
      }
    }
    &-cart {
      &:hover {
        background-color: $orange-color;
      }
      a {
        display: flex;
        align-items: center;
        padding: 12px;
        &:hover {
          color: white !important;
        }
      }
      &-img {
        position: relative;
        margin-top: 15px;
        margin-right: 12px;
        p {
          position: absolute;
          top: -20px;
          left: 60%;
          transform: translateX(-50%);
          color: #ea8b00;
        }
        img {
          text-align: bottom;
          &:hover {
            color: white;
          }
        }
      }
      &-sum {
        &:hover {
          color: white;
        }
        &-text {
          color: $grey-color;
          font-size: 14px;
          font-weight: 200;
          line-height: 20px;
          &:hover {
            color: white;
          }
        }
        &-total {
          font-size: 16px;
          white-space: nowrap;
          &:hover {
            color: white;
          }
        }
      }
    }
  }

  #send {
    opacity: 0;
  }
  #search {
    background: #f1f1f1;
    padding: 0 10px;
    width: 70px;
    font-size: 16px;
  }
}

.search-find {
  width: 885px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
  max-width: 100%;
}

@media (min-width: $screen-md-max) {
  .section-header {
    min-width: 1550px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}

@media (min-width: $screen-lg) {
  .section-header-nav-desktop-container {
    align-items: center;
    max-width: 1540px;
    margin: 0 auto;
  }
}

#menuToggle {
  position: relative;
  width: 70px;
  height: 70px;
  background: #fda11c;
  border-radius: 100%;
  padding: 25px 20px;
  margin-right: 30px;
  z-index: 11;
  -webkit-user-select: none;
  user-select: none;
  outline: none;
}

#menuToggle input {
  position: relative;
  width: 70px;
  height: 70px;
  background: #fda11c;
  border-radius: 100%;
  padding: 25px 20px;
  margin-right: 30px;
  position: absolute;
  display: flex;
  left: 10px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  outline: none;
}

#menuToggle span {
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 8px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 2px 2px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, 1px);
  background: #36383f;
}
#menuToggle input:checked {
  width: 70px;
  height: 70px;
  background: #fda11c;
  border-radius: 100%;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  margin: -50px 0 0 -50px;
  top: 0px;
  left: 0;
  padding: 150px 50px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  a:hover {
    opacity: 0.5;
    color: #fda11c;
    transition: 0.2s;
  }
}

#menu li {
  padding: 15px 0;
  transition-delay: 2s;
  &:nth-child(3),
  &:nth-child(7) {
    border-bottom: 1px solid #e5e5e5;
  }
  &:active {
    color: #fda11c;
  }
}

#menuToggle input:checked ~ ul {
  transform: none;
}
