@import 'utils/vars';
@import 'utils/fonts';
@import 'utils/reset';

@import "blocks/header";
@import "blocks/dropdown";
@import "blocks/equip";
@import "blocks/main-block.scss";
@import "blocks/brends.scss";
@import "blocks/specoffer.scss";

@import "blocks/news.scss";

@import "blocks/recommend.scss";
@import "blocks/aboutcompany.scss";
@import "blocks/partners.scss";
@import "blocks/footer.scss";


//header

//equip

//main-block
    // targetoffer
    // portfolio
    // specprice

//brends

// specprice

//aboutcompany

//partners

//footer


html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f1f1;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
}