$mainFont                : 'MyriadPro', Helvetica, Arial, sans-serif;

$mainFontColor           : #101010;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$screen-sm                  : 320px;
$screen-sm-max              : 766px;

$screen-md                  : 767px;
$screen-md-max              : 1550px;

$screen-lg                  : 1920px;


$default-color           : #ffffff;
$grey-color              : #777777;
$orange-color            : #faad3d;
$green-color             : #34a853;
