//fotter

.section-footer {
  &-menu {
    padding: 50px 0 45px 0;
    background-color: #282828;
    font-weight: 200;
    &-desktop {
      display: none;
    }
    input {
      z-index: 10;
      padding: 33px 0;
      :checked ~ span:nth-child(2) {
        transform: rotate(45deg);
      }
    }
    .dropdown {
      height: 95px;
    }
    &__title {
      color: white;
      width: 100%;
      text-align: left;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #4b4b4b;
      padding: 26px 0;
      &-plus {
        text-align: right;
        color: white;
      }
      &-last {
        border-bottom: none;
      }
    }
    &__dropdown {
      background-color: #282828;
      color: white;
      position: absolute;
      margin: 82px 0px 0 0px;
      top: 0;
      left: 0;
      padding-left: 30px;
      min-width: 100%;
      display: flex;
      flex-direction: column;
      background: #ffffff;
      -webkit-font-smoothing: antialiased;
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      z-index: 20;
      padding: 0;
      li {
        color: white;
        background-color: #282828;
        z-index: 10;
        padding: 35px 30px;
        border-bottom: none;
        a {
          color: white;
          background-color: #282828;
          border-bottom: none;
        }
      }
    }
  }
  &-company {
    background-color: #1f1f1f;
    padding: 42px 50px 30px;
    &-name {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      &__logo {
        margin-right: 25px;
      }
      &__title {
        color: #fff;
        font-size: 50px;
        line-height: 50px;
      }
      &__subtitle {
        font-weight: 200;
        color: $grey-color;
        font-size: 30px;
      }
    }
    &-created {
      font-size: 40px;
      color: #fff;
      font-weight: 200;
    }
  }
}
//fotter

@media (max-width: 670px) {
  .section-footer-company-name__title,
  .section-footer-company-name__subtitle,
  .section-footer-company-created {
    zoom: 0.6;
  }
}

@media (min-width: $screen-md) {
  .section-footer-menu {
    padding: 0;
    padding-top: 100px;
    &-container {
      margin: 0 auto;
    }
  }
  .section-footer-menu-desktop {
    display: flex;
    background-color: #282828;
    height: 480px;
    padding: 0;
    justify-content: center;
    &__list {
      display: flex;
      justify-content: space-between;
      width: 1410px;
      &-item {
        padding-bottom: 80px;
        &__title {
          color: $grey-color;
          width: 100%;
          text-align: left;
          display: flex;
          justify-content: space-between;
          font-size: 24px;
          font-weight: 200;
          margin-bottom: 30px;
        }
        &__content {
          font-size: 16px;
          font-weight: 200;
          li {
            color: white;
            border-bottom: none;
            margin-bottom: 5px;
            a {
              color: white;
              background-color: #282828;
              border-bottom: none;
              &:hover {
                color: $orange-color;
              }
            }
          }
          &-contacts li {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
  .section-footer-company {
    &-container {
      display: flex;
      justify-content: space-between;
    }
    background-color: #1f1f1f;
    padding: 42px 50px 30px;
    &-name {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      &__logo {
        margin-right: 18px;
        width: 40px;
        height: 40px;
        margin-bottom: 5px;
      }
      &__title {
        color: #fff;
        font-size: 24px;
        line-height: 20px;
      }
      &__subtitle {
        font-weight: 200;
        color: $grey-color;
        font-size: 16px;
      }
    }
    &-created {
      font-size: 18px;
      color: #fff;
      font-weight: 200;
    }
  }
}

@media (min-width: $screen-md) and (max-width: $screen-md-max) {
  .section-footer-menu-desktop-container,
  .section-footer-company-container {
    margin: 0 30px;
    max-width: 1400px;
    padding: 0;
  }
}

@media (min-width: $screen-md-max) {
  .section-footer-menu-desktop-container,
  .section-footer-company-container {
    max-width: 1420px;
    margin: 0 auto;
  }
}
