.section-partners {
  &-wrapper {
  }
  &-title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 82px;
  }
  &-list {
    background-color: #f3f2f2;
    display: flex;
    justify-content: center;
    margin-bottom: 85px;
  }
  &__btn {
    width: 100px;
    height: 100px;
    background: #383838;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    color: #fff;
    line-height: 95px;
    text-align: center;
    cursor: pointer;
    font-size: 40px;
    font-weight: 200;
    margin-top: 50px;
    margin: 0 auto;
    margin-bottom: 14px;
    outline: none;
    &-title {
      text-align: center;
      font-size: 30px;
      font-weight: 200;
      margin-bottom: 150px;
    }
  }
}

@media (min-width: $screen-md) {
  .section-partners {
    &-container {
    }
    &-title {
      font-size: 40px;
      margin-bottom: 60px;
    }
    &__btn {
      display: none;
      &-title {
        display: none;
      }
    }
    &-list {
      margin-bottom: 195px;
    }
  }
}

@media (min-width: $screen-md) and (max-width: $screen-md-max) {
  .section-partners-container {
    margin: 0 30px;
    max-width: 1400px;
    padding: 0;
  }
}

@media (min-width: $screen-md-max) {
  .section-partners-container {
    max-width: 1420px;
    margin: 0 auto;
  }
}
//partners
