//specoffer

.section-specoffer {
  &-title {
    font-size: 40px;
    padding: 30px;
    font-weight: 200;
    background-color: #fff;
    display: flex;
    border-bottom: 1px solid #e8e8e8;
    color: #191919;
    span {
      color: #bdbdbd;
      margin-left: 30px;
    }
  }
  &-offer {
    display: flex;
    flex-direction: column;
    &-wrapper {
      padding: 15px 30px;
      padding-bottom: 30px;
    }

    &-item {
      display: flex;
      flex-basis: 100%;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      height: 340px;
      margin-bottom: 2px;
      &__img {
        width: 50%;
        display: flex;
        padding: 30px;
        justify-content: center;
      }
      &__content {
        height: 340px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        &-title {
          font-size: 30px;
          font-weight: 200;
        }

        &-price {
          // @include font-semibold
          font-weight: 600;
          font-size: 30px;
          span {
            font-weight: 200;
          }
        }
      }
    }
  }

  &-services {
    position: relative;
    background-color: inherit;
    div div div a {
      background-color: inherit;
      left: 0;
      bottom: 125px;
      padding: 0;
      left: 35px;
    }
    &-title,
    &-subtitle {
      position: absolute;
      left: 35px;
      color: #fff;
    }
    &-title {
      top: 260px;
      font-size: 40px;
      font-weight: 400;
      margin-bottom: 30px;
      left: 53px;
    }
    &-subtitle {
      left: 53px;
      top: 307px;
      font-size: 16px;
      font-weight: 200;
    }
  }
}

@media (min-width: $screen-md) {
  .section-specoffer {
    &-services {
      div div div a {
        left: 0;
        padding: 0;
        left: 53px;
        font-size: 16px;
        font-weight: 200;
        top: 340px;
        &:hover {
          font-weight: 400;
          transition: 0.2s;
        }
      }
      &-subtitle {
        left: 53px;
        top: 307px;
        font-size: 16px;
        font-weight: 200;
      }
    }
    &-container {
      display: flex;
      max-width: 1550px;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      margin-bottom: 20px;
      height: 430px;
      overflow: hidden;
    }
    &-title {
      padding: 15px 30px;
      top: 260px;
      left: 53px;
      font-size: 24px;
      font-weight: 200;
      &:hover {
        color: $orange-color;
        transition: 0.2s;
      }
      span:hover {
        color: $orange-color;
        transition: 0.2s;
      }
    }
    &-offer {
      flex-direction: row;
      &-wrapper {
        width: 69%;
        padding: 0px 0 0px 0;
        overflow: hidden;
        background: inherit;
      }
      &-item {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 368px;
        border-right: 1px solid #e8e8e8;
        &:last-child {
          border-right: none;
        }
        &__img {
          width: 100%;
          margin-top: 53px;
          margin-bottom: 23px;
          padding: 0;
        }
        &__content {
          align-items: center;
          height: 100px;
          &-country {
            margin-bottom: 5px;
          }
          &-title {
            font-size: 16px;
            display: flex;
            p {
              margin-right: 3px;
            }
          }
          &-subtitle {
            font-size: 16px;
            text-align: center;
          }
          &-price {
            font-size: 16px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  // .swiper-wrapper {
  //   height: 475px;
  // }
  .swiper-container-specoffer {
    height: 430px;
    width: 455px;
    margin-bottom: 20px;
  }
  .swiper-slide {
    position: relative;
  }
  .section-specoffer-services {
    width: 30%;
    overflow: hidden;
    background: inherit;
  }
  .swiper-paginator {
    top: 393px;
  }
  .swiper-bullets {
    top: 393px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

@media (max-width: 670px) {
  .section-specoffer-title {
    font-size: 25px;
  }
  .section-specoffer-offer-item {
    max-height: 270px;
  }
  .section-specoffer-offer-item__content {
    justify-content: center;
    &-country,
    &-title,
    &-subtitle,
    &-price {
      font-size: 20px;
      word-break: break-all;
      margin-bottom: 10px;
    }
  }
  .section-specoffer-services div div div a {
    font-size: 25px;
  }
  .section-specoffer-services-title {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .section-specoffer-services-subtitle {
    font-size: 20px;
    top: 310px;
  }
}

@media (min-width: $screen-md) and (max-width: $screen-md-max) {
  .section-specoffer-container {
    align-items: center;
    max-width: 1550px;
    margin: 0 30px;
  }
}

@media (min-width: $screen-lg) {
  .section-specoffer-container {
    display: flex;
    max-width: 1550px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 430px;
    overflow: hidden;
  }
}

//specoffer
